.header {
  margin: var(--size-scale-1) auto;
  color: #0000e5;
}

.nav {
  text-align: center;
}

.blog-logo {
  display: inline-block;
  font-size: var(--size-scale-1);
  font-weight: 800;
  margin: var(--base-rem) 0;
}

.top-nav-links {
  padding: 0 0.317rem;
}

.blog-link {
  padding: 1em;
}
