@import url('./normalize.css');
@import url('./all-around-styles.css');
@import url('./header.css');
@import url('./assets-details.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* SUBJECT BLOG CLASSES */
.subject-post {
  position: relative;
  text-align: center;
}

.subject-post .blog-tag {
  color: var(--neutral-gray);
  border-radius: 25px;
  font-size: 1.5rem;
  right: 16px;
  padding: 0.317rem;
  position: absolute;
  top: 15px;
}

.subject-post img {
  /* width: 300px; */
  width: 486px;
}

.subject-post {
  margin: var(--base-rem);
}

/* POST BLOG ******** need to add subscription to margin left */
/****** NEED TO ADD HERE suscription -callout*/
.post-opening-blog .blog-post-title,
.post-opening-blog .blog-post-data,
.post-opening-blog .blog-content-sample,
.post-opening-blog .read-full-article,
.post-opening-blog .blog-post-group,
.subscribe-to-blog {
  margin-left: var(--base-rem);
  line-height: 142%;
}

.post-opening-blog {
  margin: var(--size-scale-1) auto;
}

.post-opening-blog .blog-post-title {
  font-size: var(--size-scale-1);
}

.post-opening-blog,
.blog-post-data,
.blog-post-group {
  color: var(--dark-gray);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.post-opening-blog,
.blog-post-data,
.blog-post-group {
  color: var(--dark-gray);
  font-size: 0.75rem;
}

.post-opening-blog,
.blog-post-data,
.blog-post-group * {
  padding-right: 0.5rem;
}

.post-opening-blog .blog-post-data .blog-post-group *:not(:last-child::after) {
  content: '.';
  padding-left: 0.5rem;
  transform: translateY(-3px);
}

/* NEED TO ADD .post-opening-blog and .post-content-intro STYLING HERE */

.post-opening-blog .read-full-article {
  color: var(--dark-salmon);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header {
    padding: 0 var(--base-rem);
  }

  .nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .subject-blog {
    display: grid;
    grid-gap: 0.75rem;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* SUBSCRIPTION SECTION */

.subscribe-to-blog {
  margin: var(--sizep-scale-1) 0;
  padding: 6%;
  text-align: center;
  font-size: large;
  border-top: 1px solid lightgray;
}

.subscribe-to-blog,
.subscription-call-to-action,
.subscription-tagline {
  color: var(--dark-gray);
}

.subscription-email-box {
  display: flex;
  flex-direction: column;
}

.subscription-email-box input {
  border-radius: 10px;
  padding: var(--base-rem);
  border: 1px solid lightgray;
}

input:focus {
  outline: none;
}

.subscription-email-box button {
  background: var(--dark-salmon);
  border: 0;
  color: var(--white);
  margin: var(--base-rem) 0;
  padding: var(--base-rem);
}

/* FOOTER */

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--base-rem);
}

.footer-tag-line {
  padding: 1%;
  color: var(--dark-gray);
}

.links-social-media a {
  padding-right: 1em;
  color: var(--dark-gray);
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
  .post-opening-blog {
    margin: var(--size-scale-1) var(--size-scale-4);
  }
}

@media (min-width: 1200px) {
  .subject-post {
    right: 20px;
  }
  .subject-post .blog-tag {
    right: 67px;
  }
}
